.btn {
  display: block;
  box-shadow: inset 0px 0px 0px 5px black;
  padding: 25px 125px;
  font-family: 'Travels Bold';
  margin-top: 10vh;
  background: none;
  border: none;
  cursor: pointer;
}

.btn:hover {
  box-shadow: inset 0px 0px 0px 0px black;
}
  