@font-face {
    font-family: 'Travels DemiBold';
    src: url('src/assets/fonts/Travels-DemiBold.otf')
}

@font-face {
    font-family: 'Travels ExtraBold';
    src: url('src/assets/fonts/Travels-ExtraBold.otf');
}

@font-face {
    font-family: 'Travels Medium';
    src: url('src/assets/fonts/Travels-Medium.otf');
}

@font-face {
    font-family: 'Travels Bold';
    src: url('src/assets/fonts/Travels-Bold.otf');
}