<main class="about">
  <section class="about__us">
    <h2 class="gradient-element">Адреса магазинов:</h2>

    <section class="about__us__shop">
        <p class="about__us__shop__city">Cевастополь</p>
        <p class="about__us__shop__place">Мультибрендовый магазин «Август»</p>
        <p class="about__us__shop__address">Проспект Нахимова,19</p>
        <p class="about__us__shop__time">10:00 - 19:00 ежедневно</p>
      </section>
      <section class="about__us__shop">
        <p class="about__us__shop__city">Москва</p>
        <p class="about__us__shop__place">Магазин ECLOTHES</p>
        <p class="about__us__shop__address">Москва, м.Чистые Пруды, Даев переулок, дом 3</p>
        <p class="about__us__shop__time">12:00 - 22:00 ежедневно</p>
      </section>
      <section class="about__us__shop">
        <p class="about__us__shop__city">Санкт-Петербург</p>
        <p class="about__us__shop__place">Магазин LENINGRADEC</p>
        <p class="about__us__shop__address">190031, Санкт-Петербург, улица Полтавская, д.10</p>
        <p class="about__us__shop__time">12:00 - 21:00 ежедневно</p>
      </section>
  </section>
  <section class="about__contacts">
    <h2 class="gradient-element">Контакты:</h2>

    <section class="about__contacts__contact">
      <p class="about__contacts__contact__type">Почта</p>
      <p class="about__contacts__contact__value">Sailorpaulcompany@gmail.com</p>
    </section>
    <section class="about__contacts__contact">
      <p class="about__contacts__contact__type">Телефон</p>
      <p class="about__contacts__contact__value">+7 (978) 719 34 69</p>
      <p class="about__contacts__contact__external-info">Принимаем звонки с 10:00 до 18:00</p>
    </section>
    <section class="about__contacts__contact">
      <p class="about__contacts__contact__type">Социальные сети</p>
      <p class="about__contacts__contact__value">
        <a href="#"><img class="social-icons" src="../../../assets/icons/social-networks/vk.png" alt="vk"></a>
        <a href="#"><img class="social-icons" src="../../../assets/icons/social-networks/instagram.png" alt="instagram"></a>
        <a href="#"><img class="social-icons" src="../../../assets/icons/social-networks/twitter.png" alt="twitter"></a>
        <a href="#"><img class="social-icons" src="../../../assets/icons/social-networks/google-plus.png" alt="google-plus"></a>
      </p>
    </section>
  </section>
</main>