/* You can add global styles to this file, and also import other style files */
@import './assets/styles/reset.scss';
@import './assets/styles/elements.scss';
@import './assets/styles/fonts.scss';
@import './assets/styles/buttons.scss';

* {
    font-family: 'Travels DemiBold';
    outline: none;
}

button:hover, input[type=file]:hover, a:hover {
    cursor: pointer;
}