
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-vkontakte:before { content: '\f189'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */