.navigation {
    grid-area: nav;
    position: relative;

    &__link{
        display: block;
        position: absolute;
        left: 25%;
        bottom: 0;

        &__arrow{
            vertical-align: bottom;
        }
    }
}
.main-section {
    grid-area: main;
    display: grid;
    height: calc(100vh - 140px);
    min-height: 516px;
    align-items: center;
    grid-template-columns: 1fr 3fr 1fr;

    &__side-product{
        width: 141px;
        height: 145px;

        &--semitransparent {
            opacity: .5;
        }
        &--next{
            justify-self: end;
        }
            
        & > img {
            height: 100%;
        }
    }
    &__current-product {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        &__card {
            width: 300px;
            justify-self: end;

            &__photo {
                width: 100%;
            }

            &__info {

                &__name{
                    font-size: 1.2rem;
                }
                &__title{
                    color: #a1a1a1;
                    margin: 8px 0;
                    font-size: 0.78rem;
                }
                &__price{
                    font-size: 0.78rem;
                }
            }
        }

        .description {
            & > .description__category {
                margin-bottom: 10px;
            }
            &__category{
                &__sub {
                    display: inline;
                    & > .description__category:first-child {
                        margin-top: 10px;
                    }
                    
                    & > .description__category {
                        margin-left: 50px;
                        list-style-type: disc;
                        font-family: 'Travels Medium';
                        font-size: 0.82rem;
                        &--inline {
                            display: inline-block;
                            margin-right: 10px;
                            margin-bottom: 0px;
                            margin-left: 0px;
                            font-family: 'Travels DemiBold';

                        }
                    }
                }
            }
        }
    }
}
.color-rect {
    width: 20px;
    height: 20px;
    border: 2px solid;
    vertical-align: bottom;

    &--none {
        position: relative;
        &::after {
            content: '';
            background: black;
            width: 210%;
            height: 2px;
            -webkit-transform: rotate(45deg);
            transform: rotate(135deg);
            display: block;
            position: absolute;
            top: 7px;
            left: -9px;
        }
        &::before {
            content: '';
            background: black;
            width: 210%;
            height: 2px;
            transform: rotate(45deg);
            display: block;
            position: absolute;
            top: 7px;
            left: -9px;
        }
    }
}
.btn {
    padding: 27px;
    margin-top: 50px;
    text-align: center;
    width: 80%;
    cursor: pointer;
}