<figure class="container" [formGroup]="group">
  <button 
    *ngIf="webStorageService.isAdmin"
    class="controller controller__add">
    <input type="file" accept="image/*" (change)="selectPhoto($event)">
  </button>
  
  <button 
    class="controller controller__del"
    *ngIf="webStorageService.isAdmin && group.get('variants').value.length > 1"
    (click)="deleteCurrentVariant()"></button>
 
  <ng-content></ng-content>

  <figcaption class="caption">
    <textarea 
      formControlName="rus_name"
      placeholder="{{webStorageService.lang === 'ru' ? 'Название' : 'Name'}}"
      class="caption__name"></textarea>

    <app-custom-input
      formControlName="rus_title"
      [placeholder]="webStorageService.lang === 'ru' ? 'Краткое описание' : 'Short description'"
      class="caption__short-desc"
    ></app-custom-input>

    <app-custom-input
      formControlName="price"
      [placeholder]="'Цена'"
      [type]="'number'"
      class="caption__price"
    ></app-custom-input>
  </figcaption>
</figure>