@import '../../../../assets/styles/mixins.scss';

.container {
    width: 300px;
    position: relative;
}

.caption {
    display: flex;        
    flex-flow: column;

    &__name{
        font-size: 1.2rem;
        max-width: 98%;
        max-height: 70px;
        resize: none;

        @include disabled;
        &:disabled {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            height: 30px;
        }
    }
    &__short-desc{
        color: #a1a1a1;
        margin: 8px 0;
        font-size: 0.78rem;
        display: flex;
        
        @include disabled;
        &:disabled {
            border: none;
        }
    }
    &__price{
        font-size: 0.78rem;
        display: flex;

        @include disabled;
    }
}

.controller {
    width: 30px;
    height: 30px;
    background: rgb(248, 246, 246);
    position: absolute;

    &__add input[type=file] {
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        position: absolute;
    }

    &__add, &__done{
        border: 0;
        border-bottom: 2px solid;
        border-right: 2px solid;

        &::after {
            display: block;
            content: '';
            border-left: 3px solid;
            width: 0px;
            height: 50%;
            margin: 0 auto;
            cursor: pointer;
        }
        &::before {
            display: block;
            content: '';
            border-left: 3px solid;
            transform: rotate(90deg);
            width: 0px;
            height: 50%;
            margin: 0 auto;
            margin-bottom: -13px;
            cursor: pointer;
            
        }
    }
    &__done {
        &::after {
            height: 20%;
            margin: 0 auto;
            cursor: pointer;
            transform: rotate(-45deg);
            margin-left: 2px;
            margin-top: 6px;
        }
        &::before {
            transform: rotate(45deg);
        }
    }
    &__del{
        border: 0;
        right: 0;
        border-bottom: 2px solid;
        border-left: 2px solid;
        
        &::after {
            display: block;
            content: '';
            border-left: 3px solid;
            width: 0px;
            height: 50%;
            transform: rotate(-45deg);
            margin: 0 auto;
            cursor: pointer;
        }
        &::before {
            display: block;
            content: '';
            border-left: 3px solid;
            transform: rotate(45deg);
            width: 0px;
            height: 50%;
            margin: 0 auto;
            margin-bottom: -13px;
            cursor: pointer;
        }
    }
}