<figure class="container" [formGroup]="group">
  <button
    class="controller controller__add"
  >
    <input type="file" accept="image/*" (change)="selectPhoto($event)">
  </button>
  
  <button 
    class="controller controller__del"
    *ngIf="group.get('variants').value.length > 1"
    (click)="deleteCurrentVariant()"
  ></button>
 
  <ng-content></ng-content>

  <figcaption class="container__caption">
    <textarea 
      formControlName="rus_name"
      placeholder="{{webStorageService.lang === 'ru' ? 'Название' : 'Name'}}"
      class="container__caption__name"
    ></textarea>

    <input
      formControlName="rus_title"
      placeholder="{{webStorageService.lang === 'ru' ?  'Краткое описание' : 'Short description'}}"
      type="text"
      class="container__caption__short-desc"
    >

    <input
      formControlName="price"
      #price
      placeholder="Цена"
      type="number"
      max="999999999"
      (keyup)="priceChanged(price.valueAsNumber)"
      class="container__caption__price"
    >
  </figcaption>
</figure>