<li class='description__category'>
  Цвет:
    <ul class='description__category__sub'>
      <li
        *ngFor="let color of allColors; index as i"
        class='description__category description__category--inline color-rect' 
        [style.background-color]="color"
        [ngClass]="{
          'current-color': i === currentVariant,
          'admin-btns__add-color': color === 'none'
        }"
        (click)="selectColorOfVariant(i)"
      ></li>
      <!-- <li class='description__category description__category--inline color-rect color-rect--none' style="background-color: #ebce8d"></li> -->
    </ul>
  </li>