:host{
    width: 50%;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    padding: 0 2px;

    &:only-child {
        width: 100%;
    }
}

.btn {
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}