.wrapper {
    width: 1270px;
    padding: 0 10px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 50px 60px auto;
}

.wrapper--without-filter {
    grid-template-areas: 
        "header header header header"
        ". . . ."
        "outlet outlet outlet outlet";
}

.wrapper--with-filter {
    grid-template-areas: 
        "header header header header"
        ". . . ."
        "filter outlet outlet outlet";
}

.outlet {
    grid-area: outlet;
}

.header {
    grid-area: header;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: end;
    grid-template-areas:
    "header_logo header_logo header_main header_main header_main header_main header_main header_cart";
}
.header__main {
    grid-area: header_main;
    display: flex;
}
.header__logo {
    font-family: 'Travels ExtraBold';
    font-size: 1.3rem;
    letter-spacing: 2px;
    grid-area: header_logo;
    cursor: pointer;
}

.header__decor {
    grid-area: header_decor;
    position: static;
}

.header__search {
    grid-area: header_search;
}

.header__cart {
    grid-area: header_cart;
    text-align: right;
    cursor: pointer;
    justify-self: end;
}

.header__cart__count {
    font-size: 10px;
    vertical-align: super;
    display: inline-block;
    width: 20px;
    height: 11px;
    text-align: left;
}
.header__breadcrumbs {
    grid-area: header_bcrumbs;
}
.header__breadcrumbs__arrow {
    margin: 0 8px -8px;
}
.header__breadcrumbs__crumb{
    white-space: pre;
}
.header__breadcrumbs__crumb:last-child {
    border-bottom: 2px solid #000;
    display: inline-block;
    margin-bottom: -6px;
    max-width: 265px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.gradient-element::after {
    height: 10px;
    margin-left: 0;
    margin-top: -10px;
    width: 270px;
}
.filter-container {
    grid-area: filter;
}
