@import '../../../assets/styles/mixins.scss';

:host {
    @include container;
    display: flex;
    align-items: center;
}
.navigation {
    &__link{
        display: block;
        margin-left: 18vw;

        &__arrow{
            vertical-align: bottom;
        }
    }
}