
.clothes-container {
    grid-area: clothes;
    padding-bottom: 50px;
    
    &__header {
        height: 100px;
    }

    &__clothes {
        display: grid;
        grid-template-columns: repeat(3, 260px);
        gap: 40px 50px;
        justify-items: start;
    }
}
