<section class="clothes-container" *ngIf="products?.length; else empty">
  <main class="clothes-container__clothes">
    <app-clothes *ngIf="webStorageService.isAdmin" [product]='"adminControl"'></app-clothes>
    <app-clothes *ngFor="let product of (products | productSort: productService.sortType)" [product]='product'></app-clothes>
  </main>
  <!-- <button  class="btn gradient-border in clothes-container__btn" (click)="loadMore()">load more...</button>  -->
</section>

<ng-template #empty>
  <p *ngIf="products">
    {{ webStorageService.lang === 'ru' ? 'Сорри, товаров по такому фильтру нет...' : 'Sorry, there are no products for this filter...' }}
  </p>
</ng-template>