<div class="not-found">
  <div class="decor">
    <div class="decor__1 gradient-element"></div>
    <div class="decor__2 gradient-element"></div>
    <div class="decor__3 gradient-element"></div>
    <div class="decor__4 gradient-element"></div>
    <div class="decor__5 gradient-element"></div>
  </div>  
<h1 class="not-found__code">404</h1>
  <h2 class="not-found__message">РАЁН НЕ НАЙДЕН</h2>
  <a routerLink="/clothes"  class="btn gradient-border in not-found__return-button" (click)="back()">ВЕРНУТЬСЯ</a>
  </div>
