<section *ngIf="showAdditionalInfo" class="additional-info">
  <button class="additional-info__btn additional-info__btn--close" (click)="close.emit()"></button>

  <section class="additional-info__map">
    <h2 class="additional-info__header">{{webStorageService.lang === 'ru' ? 'Карта сайта' : 'Site map' }}:</h2>

    <section class="additional-info__map__types">
      <section class="additional-info__map__types__type">
        <header>{{webStorageService.lang === 'ru' ? 'Гость' : 'Guest'}}:</header>
        <ul class="additional-info__map__pages">
          <li class='additional-info__map__pages__page' routerLink="/" (click)="close.emit()"><span class="gradient-element gradient-element--static">{{ webStorageService.lang === 'ru' ? 'Страница приветствия' : 'Welcome page'}}</span></li>
          <li class='additional-info__map__pages__page' routerLink="products/all/all" (click)="close.emit()"><span class="gradient-element gradient-element--static">{{ webStorageService.lang === 'ru' ? 'Страница товаров' : 'Products page'}}</span>
            <ul class='additional-info__map__pages__page__sub'>
              <li 
              class='additional-info__map__pages__page__sub__value gradient-element gradient-element--hover'
              *ngFor="let sex of sexes"
              (click)="changeSexParam(sex.en_name, $event); changeTypeParam('all', $event); close.emit()"
              >{{webStorageService.lang === 'ru' ? sex.rus_name : sex.en_name}}</li>
            </ul>
            <ul class='additional-info__map__pages__page__sub'>
              <li 
              class='additional-info__map__pages__page__sub__value gradient-element gradient-element--hover'
              *ngFor="let type of types"
              (click)="changeSexParam('all', $event); changeTypeParam(type.en_name, $event); close.emit()"
              >{{webStorageService.lang === 'ru' ? type.rus_name : type.en_name}}</li>
            </ul>
          </li>
          <li class='additional-info__map__pages__page' routerLink="/cart" (click)="close.emit()"><span class="gradient-element gradient-element--static">{{webStorageService.lang === 'ru' ? 'Корзина' : 'Cart' }}</span></li>
          <li class='additional-info__map__pages__page' routerLink="/about" (click)="close.emit()"><span class="gradient-element gradient-element--static">{{webStorageService.lang === 'ru' ? 'О нас' : 'About us' }}</span></li>
          <li class='additional-info__map__pages__page' routerLink="products/1" (click)="close.emit()"><span class="gradient-element gradient-element--static">{{webStorageService.lang === 'ru' ? 'Карточка товара' : 'Product card' }}</span></li>
        </ul>
      </section>
      <section class="additional-info__map__types__type">
        <header>{{webStorageService.lang === 'ru' ? 'Админ' : 'Admin'}}:</header>
        <ul class="additional-info__map__pages">
          <li class='additional-info__map__pages__page' routerLink="/" (click)="close.emit()"><span class="gradient-element gradient-element--static">{{ webStorageService.lang === 'ru' ? 'Страница приветствия' : 'Welcome page'}}</span></li>
          <li class='additional-info__map__pages__page' routerLink="products/all/all" (click)="close.emit()"><span class="gradient-element gradient-element--static">{{ webStorageService.lang === 'ru' ? 'Страница товаров' : 'Products page'}}</span>
            <ul class='additional-info__map__pages__page__sub'>
              <li 
              class='additional-info__map__pages__page__sub__value gradient-element gradient-element--hover'
              *ngFor="let sex of sexes"
              (click)="changeSexParam(sex.en_name, $event); changeTypeParam('all', $event); close.emit()"
              >{{webStorageService.lang === 'ru' ? sex.rus_name : sex.en_name}}</li>
            </ul>
            <ul class='additional-info__map__pages__page__sub'>
              <li 
              class='additional-info__map__pages__page__sub__value gradient-element gradient-element--hover'
              *ngFor="let type of types"
              (click)="changeSexParam('all', $event); changeTypeParam(type.en_name, $event); close.emit()"
              >{{webStorageService.lang === 'ru' ? type.rus_name : type.en_name}}</li>
            </ul>
          </li>
          <li class='additional-info__map__pages__page' routerLink="/cart" (click)="close.emit()"><span class="gradient-element gradient-element--static">{{webStorageService.lang === 'ru' ? 'Корзина' : 'Cart' }}</span></li>
          <li class='additional-info__map__pages__page' routerLink="/about" (click)="close.emit()"><span class="gradient-element gradient-element--static">{{webStorageService.lang === 'ru' ? 'О нас' : 'About us' }}</span></li>
          <li class='additional-info__map__pages__page' routerLink="products/1" (click)="close.emit()"><span class="gradient-element gradient-element--static">{{webStorageService.lang === 'ru' ? 'Карточка товара' : 'Product card' }}</span></li>
          <li class='additional-info__map__pages__page' routerLink="admin/create" (click)="close.emit()"><span class="gradient-element gradient-element--static">{{webStorageService.lang === 'ru' ? 'Страница создания товара' : 'Product creation page' }}</span></li>
        </ul>
      </section>
    </section>
  </section>

  <section class="additional-info__lang">
      <h2 class="additional-info__header">{{webStorageService.lang === 'ru' ? 'Язык сайта:' : 'Site language:' }}</h2>

      <section class="additional-info__lang__types">
        <button  
        class="additional-info__btn additional-info__lang__types__type" 
        [ngClass]="{'current-lang': webStorageService.lang === 'ru'}"
        (click)="webStorageService.lang = 'ru'">
          ру
        </button>
        <button  
        class="additional-info__btn additional-info__lang__types__type" 
        [ngClass]="{'current-lang': webStorageService.lang === 'en'}"
        (click)="webStorageService.lang = 'en'">
          en
        </button>
      </section>
  </section>
</section>