<menu class="filter">
  <!-- TODO:(Харламенко А.В.) Перемаппить на динамику как будет API -->
  <li class='filter__category'>Одежда
    <ul class='filter__category__sub'>
      <li class='filter__category'>Мужская</li>
      <li class='filter__category'>Женская</li>
    </ul>
  </li>
  <li class='filter__category'>Куртки</li>
  <li class='filter__category'>Жилеты</li>
  <li class='filter__category'>Толстовки</li>
  <li class='filter__category'>Футболки</li>
  <li class='filter__category'>Поло</li>
  <li class='filter__category'>Рубашки</li>
  <li class='filter__category'>Пиджаки</li>
  <li class='filter__category'>Брюки</li>
  <li class='filter__category'>Шорты</li>
  <li class='filter__category'>Юбки</li>
  <li class='filter__category'>Платья</li>
  <details style='margin-top: 65px'>
    <summary сlass="filter__sort" style='outline: none;'>Сортировка</summary>
    <li class="filter__sort__method">По цене</li>
    <li class="filter__sort__method">По популярности</li>
  </details>
</menu>