<menu class="filter">
  <li class='filter__category'>Одежда
    <ul class='filter__category__sub'>
      <li class='filter__category gradient-element' (click)="changeSexParam('men')">Мужская</li>
      <li class='filter__category gradient-element' (click)="changeSexParam('women')">Женская</li>
    </ul>
  </li>
  <li class='filter__category gradient-element'>Куртки</li>
  <li class='filter__category gradient-element'>Жилеты</li>
  <li class='filter__category gradient-element'>Толстовки</li>
  <li class='filter__category gradient-element'>Футболки</li>
  <li class='filter__category gradient-element'>Поло</li>
  <li class='filter__category gradient-element'>Рубашки</li>
  <li class='filter__category gradient-element'>Пиджаки</li>
  <li class='filter__category gradient-element'>Брюки</li>
  <li class='filter__category gradient-element'>Шорты</li>
  <li class='filter__category gradient-element'>Юбки</li>
  <li class='filter__category gradient-element'>Платья</li>
    <details style='margin-top: 65px; cursor: pointer;'>
    <summary сlass="filter__sort" style='outline: none;'>Сортировка</summary>
    <li class="filter__sort__method gradient-element" (click)="productService.changeSortType('price')">По цене</li>
    <li class="filter__sort__method gradient-element" (click)="productService.changeSortType('popularity')">По популярности</li>
  </details>
</menu>