.filter {
    padding-top: 50px;
    &__category {
        line-height: 1.5rem;

        &__sub {
            margin-bottom: 30px;

            & > .filter__category {
                line-height: 1rem;
                font-size: 0.8rem;
                font-family: 'Travels Medium';
            }
        }
    }

    &__sort {
        &__method {
            line-height: 1rem;
            font-size: 0.8rem;
            font-family: 'Travels Medium';
        }
    }
}