<menu class="filter">
  <li class='filter__category' routerLink="clothes/all/all">Одежда
    <ul class='filter__category__sub'>
      <li class='filter__category gradient-element' *ngFor="let sex of sexes" (click)="changeSexParam(sex.name, $event)">{{sex.rus_name}}</li>
    </ul>
  </li>
  <li class='filter__category gradient-element' *ngFor="let type of types" (click)="changeTypeParam(type.name, $event)">{{type.rus_name}}</li>
  <details class="filter__sort__wrapper">
    <summary сlass="filter__sort" style='outline: none;'>Сортировка</summary>
    <li class="filter__sort__method gradient-element" (click)="productService.changeSortType('price')">По цене</li>
    <li class="filter__sort__method gradient-element" (click)="productService.changeSortType('popularity')">По популярности</li>
  </details>
</menu>