@import '../../../assets/styles/mixins.scss';

.header {
    @include container;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &__logo {
        display: block;
        font-family: 'Travels ExtraBold';
        font-size: 1.3rem;
        letter-spacing: 2px;
        cursor: pointer;
        @include gradient-underline;
    }

    &__cart {
        text-align: right;
        cursor: pointer;
        position: relative;
        
        &__count {
            font-size: 0.6em;
            vertical-align: super;
            margin-left: -4px;
        }
    }
}