.header-intermediate-content {
    flex-basis: 67%; 
    position: relative;
}

.clothes-container {
    grid-area: clothes;
    padding-bottom: 50px;

    &__btn {
        margin: 40px auto;
        width: 150px;
        padding: 15px;
    }
    
    &__header {
        height: 100px;
    }

    &__clothes {
        display: grid;
        grid-template-columns: repeat(3, 260px);
        gap: 40px 50px;
        justify-items: start;
    }
}

.gradient-element{
    display: inline-block;

    &::after {
        height: 10px;
        margin-left: 0;
        margin-top: -10px;
        width: calc(100% + 15px);
    }
}

.editBTN {
    height: 40px;
    padding: 12px;
    font-size: 0.9em;
    margin: 0;
}

.wrapper {
    width: 1270px;
    padding: 0 10px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 50px 60px auto;
}

.wrapper--without-filter {
    grid-template-areas: 
        "header header header header"
        ". . . ."
        "outlet outlet outlet outlet";
}

.wrapper--with-filter {
    grid-template-areas: 
        "header header header header"
        ". . . ."
        "filter outlet outlet outlet";
}

.outlet {
    grid-area: outlet;
}

.gradient-element::after {
    height: 10px;
    margin-left: 0;
    margin-top: -10px;
    width: 270px;
}
.filter-container {
    grid-area: filter;
}

