<app-header>
  <app-header-breadcrumbs
    *ngIf="mainProductFG?.get('id').value"
    [sex]="mainProductFG?.get('cat').value"
    [category]="mainProductFG?.get('type').value"
    [pName]="mainProductFG?.get('rus_name').value"
  ></app-header-breadcrumbs>
</app-header>

<app-back-btn></app-back-btn>
<ng-container *ngIf="!isProductNotFound; else productNotFound">
  <section class="main-section">
    <app-sibling-product
      [product]="prevProduct"
    ></app-sibling-product>
  
    <main
      *ngIf="mainProductFG"
      class="main-section__current-product"
    >
      <app-container-with-caption
        [group]="mainProductFG"
        (newPhotoSelected)="handleNewPhoto($event)"
        (delete)="baseService.popup.open('Вы точно хотите удалить?','deleteCurrentVariant', this)"
      >
        <app-color-picker
          *ngIf="isVisibleColorPicker | async"
          [photo]="newPhoto"
          (colorChoosed)="handleChoosedColor($event)"
        >
        </app-color-picker>
        <app-photo
          [group]="mainProductFG"
          [photo]="currentVariantFormGroup.value.photo"
        ></app-photo>
      </app-container-with-caption>
  
      <app-product-info>
        <app-colors
          [allColors]="allColors"
          [currentVariant]="currentVariant"
          (clickEvent)="selectColorOfVariant($event)"
        ></app-colors>
  
        <app-sizes
          [allSizes]="allSizes"
          [currentVariantSizes]="currentVariantSizes"
          [choosedSizeId]="choosedSizeId"
          (clickEvent)="webStorageService.isAdmin ? toggleSize($event) : chooseSizeId($event)"
        ></app-sizes>
  
        <app-description
          [group]="mainProductFG"
          [description]="description.controls"
          [isAdmin]="isAdmin"
          (newLineAdded)="addLineToDescription($event)"
          (delete)="deleteLineOfDescription($event)"
        ></app-description>
        
        <section
          *ngIf="isAdmin"
          class="options"
        >
          <app-options
            [opts]="sexesTypes?.types"
            [name]="'type'"
            [group]="mainProductFG"
          ></app-options>
          <app-options
            [opts]="sexesTypes?.sex"
            [name]="'cat'"
            [group]="mainProductFG"
          ></app-options>
        </section>

          <section class="buttons">
            <app-btn (clickEvent)='addToCart()' *ngIf="!webStorageService.isAdmin">
              {{webStorageService.lang === 'ru' ? 'В корзину' : 'Add to cart' }}
            </app-btn>
            
            <app-btn (clickEvent)='updateProduct()' *ngIf="webStorageService.isAdmin">
              {{webStorageService.lang === 'ru' ? 'Обновить' : 'Update' }}
            </app-btn>
      
            <app-btn 
              (clickEvent)='baseService.popup.open("Вы точно хотите удалить товар?","deleteProduct", this)()'
              *ngIf="webStorageService.isAdmin">
              {{webStorageService.lang === 'ru' ? 'Удалить' : 'Delete' }}
            </app-btn>
        </section>
      </app-product-info>
    </main>
  
    <app-sibling-product
      [product]="nextProduct"
    ></app-sibling-product>
  </section>
</ng-container>

<ng-template #productNotFound>
  <div id="productNotFoundMessage">
    <p>товар не найден</p>
  </div>
</ng-template>