<div class="wrapper wrapper--with-filter">
  
  <app-header>
    <app-header-breadcrumbs
      *ngIf="breadmsInfo"
      [sex]="breadmsInfo.sex"
      [category]="breadmsInfo.category"
      [pName]="breadmsInfo.pName"
    ></app-header-breadcrumbs>
  </app-header>

  <section class="outlet">
    <nav class="navigation">
      <app-back-btn></app-back-btn>
    </nav>

    <section class="main-section">
      <app-sibling-product
        [product]="prevProduct"
      ></app-sibling-product>

      <main class="main-section__current-product" *ngIf="mainProductFG">
        <app-photo-with-caption
          [group]="mainProductFG"
          [photo]="currentVariantFormGroup.value.photo"
        ></app-photo-with-caption>

        <section class="main-section__current-product__description description" [formGroup]="mainProductFG">
          <app-colors></app-colors>

          <app-sizes [currentVariant]="currentVariant"></app-sizes>

          <section *ngIf="isAdmin" class="main-section__current-product__category-sex-controls">
            <app-admin-options [opts]="sexesTypes?.types"></app-admin-options>
            <app-admin-options [opts]="sexesTypes?.sex"></app-admin-options>

            <!-- <select class="main-section__current-product__category-sex-controls__control" formControlName="cat">
              <option *ngFor="let sex of sexesTypes?.sex"
                [attr.selected]="mainProductFG.get('cat').value === sex.en_name ? true : null">{{sex.rus_name}}</option>
            </select> -->
          </section>
          <a class="btn gradient-border in" *ngIf="!webStorageService.isAdmin"
            (click)='addToCart()'>{{webStorageService.lang === 'ru' ? 'В корзину' : 'Add to cart' }}</a>
          <a *ngIf="webStorageService.isAdmin" class="btn gradient-border in btn--admin"
            (click)='updateProduct()'>{{webStorageService.lang === 'ru' ? 'Обновить' : 'Update' }}</a>
          <a class="btn gradient-border in btn--admin" *ngIf="webStorageService.isAdmin"
            (click)='baseService.popup.open("Вы точно хотите удалить товар?","deleteProduct", this)'>{{webStorageService.lang === 'ru' ? 'Удалить' : 'Delete' }}</a>
        </section>
      </main>

      <app-sibling-product
        [product]="nextProduct"
      ></app-sibling-product>
    </section>
  </section>
</div>