<section class="wrapper">
  <div class="breadcrumbs">
    <span class="breadcrumbs__crumb"
      routerLink="/products">{{ webStorageService.lang === 'ru' ? 'Одежда' : 'Clothes' }}</span>
    <img class="breadcrumbs__arrow" src="../../../assets/icons/arrow.png" alt="->">
    <span class="breadcrumbs__crumb"
      [routerLink]="['/products', sex]">{{sex}}</span>
    <img class="breadcrumbs__arrow" src="../../../assets/icons/arrow.png" alt="->">
    <span class="breadcrumbs__crumb"
      [routerLink]="['/products', sex, category]">{{category}}</span>
    <img class="breadcrumbs__arrow" src="../../../assets/icons/arrow.png" alt="->">
    <span class="breadcrumbs__crumb">{{pName}}</span>
  </div>
</section>