<span class="label">Описание:</span>
<ul
  class='description'
  [formGroup]="group"
>
  <li
    class='description__line__wrapper'
    *ngIf="isAdmin"
  >
    <input
      autofocus
      id="newLineInput"
      (keydown)="keydownDescrInput($event)"
      (blur)="addNewDescrLine($event)"
      class="description__line"
    >
  </li>

  <li
    class='description__line__wrapper'
    *ngFor="let line of description; index as i"
    formArrayName="rus_descr"
  >
    <input
      [formControlName]="i"
      (keydown)="keydownDescrInput($event)"
      (blur)="blurDescrInput(i, $event)"
      class="description__line"
    >
  </li>
</ul>