<figure class="cart-clothes">
  <img src="../../../assets/images/смт.jpg"class="cart-clothes__photo" alt="smt">

  <figcaption class="cart-clothes__description">
    <p class="cart-clothes__description__elem cart-clothes__description__name">AW-18 C</p>

    <li class='cart-clothes__description__elem cart-clothes__description__category'>Размер:
      <ul class='cart-clothes__description__category__sub'>
        <li class='cart-clothes__description__category'>S</li>
      </ul>
    </li>
    <li class='cart-clothes__description__elem cart-clothes__description__category'>Цвет:
      <ul class='cart-clothes__description__category__sub'>
        <li class='cart-clothes__description__category' style="background-color: black"></li>
      </ul>
    </li>

    <p class="cart-clothes__description__elem cart-clothes__description__price">3000 ₽</p>
  </figcaption>
  <button class="cart-clothes__btn"></button>
</figure>