.clothes {
    padding: 5px;
    
    &__photo {
        width: 100%;
    }

    &__info {
        &__name {
            font-family: 'Travels Bold';
            display: inline-block;
            width: auto;
        }
        
        &__price{
            margin-top: 5px;
            font-size: 0.85rem;
        }
    }
}
.gradient-element::after{
    width: calc(100% + 15px);
    height: 15px;
    margin-left: 0;
    margin-top: -11px;
}